<div class="body">
    <div class="box-1">
        <img src="./img/logo.svg" alt="">
        <h1>SaveTime</h1>
        <button class="box-1-button2" [routerLink]="['/MyTask']">Мой задачи</button>
        <button class="box-1-button2" [routerLink]="['/FindTaskComponent']">Наити задачу</button>
        <button class="box-1-button2" [routerLink]="['/FindSolution']">Наити решение</button>
        <button class="box-1-button2" [routerLink]="['/OfferSolutions']">Предложить решение</button>
        <button class="box-1-button2" [routerLink]="['/WithdrawMoney']">снять деньги</button>
        <button class="box-1-button2" [routerLink]="['/SubmitTask']">поадть задачу</button>
        <button class="box-1-button2" [routerLink]="['/']">h</button>
        
    </div>
    <div class="box-2">
        <span>{{data.Name}}JKDNKJa</span>
        <span>sda;lf,as;ld,f;l,</span>
        
    </div>
</div>