<div class="wrepper">
    <div class="box1 box">
        <label for="Curs">Curs</label>
        <input id="Curs" type="text" [(ngModel)]="curs">
    </div>
    <div class="box2 box">
        <label for="Language">Language</label>
        <input id="Language" type="text" [(ngModel)]="lang">
    </div>
    <div class="box3 box">
        <label for="Task">Task</label>
        <input id="Task" type="text" [(ngModel)]="task">
    </div>
    <div class="box4 box">
        <label for="Cost">Cost</label>
        <input id="Cost" type="text" [(ngModel)]="cost">
    </div>
    <div class="box5 box">
        <button (click)="enter()">подать</button>
    </div>
</div>