<div class="wrepper">
    <div class="form">
        <div class="box">
            <label for="univer">univer</label>
            <input type="text" id="univer">
        </div>
        <div class="box">
            <label for="curs">curs</label>
            <input type="number" id="curs">
        </div>
        <div class="box">
            <label for="language">language</label>
            <input type="text" id="language">
        </div>
        <div class="box">
            <label for="language">Facultet</label>
            <input type="text" id="language">
        </div>
        <div class="box">
            <label for="spets">spetsialnots</label>
            <input type="text" id="spets">
        </div>
        <div class="box">
            <label for="ticher">ticher</label>
            <input type="text" id="ticher">
        </div>
        <div class="box">
            <label for="task">task</label>
            <input type="text" id="task">
        </div>
        <div class="box">
            <label for="file">file</label>
            <input type="file" (change)="onFileSelected($event)">
           <button (click)="uploadFile()">click</button>
        </div>
    </div>
</div>